html {
  font-family: "Noto Sans Japanese", sans-serif;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

nav {
  text-align: center;
}

nav li a:hover {
  color: #0084a6;
}

.logo-items {
  text-align: center;
}

.paragraph-1 {
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}

.learn-btn {
  border: 2px solid #8bc9d9;
  color: #005e76;
}

.nav-btn {
  color: #005e76;
  text-decoration: none;
  border-bottom: 2px solid #8bc9d9;
}

main {
  border-bottom: 2px solid #e2e2e2;
}

footer {
  color: #000;
}

@media only screen and (min-width: 25em) {


}

@media only screen and (min-width: 38em) {


}

@media only screen and (min-width: 60em) {
  nav {
    text-align: right;
  }

  .logo-items {
    text-align: left;
  }

}

@media only screen and (min-width: 90em) {


}
